.bg-blue-50{
    background-color: #eff6fe;
}
.bg-blue-100{
    background-color: #dbeafe;
}
.bg-blue-200{
    background-color: #bfdbfe;
}
.bg-blue-300{
    background-color: #93c5fd;
}
.bg-blue-400{
    background-color: #60a5fa;
}
.bg-blue-500{
    background-color: #60a5fa;
}
.bg-blue-600{
    background-color: #2563eb;
}
.bg-blue-700{
    background-color: #1d4ed8;
}
.bg-blue-800{
    background-color: #1e40af;
}
.bg-blue-900{
    background-color: #1e3a8a;
}