.bg-green-50{
    background-color: #E3F8E8;
}
.bg-green-100{
    background-color: #DCFCE7;
}
.bg-green-200{
    background-color: #92cd91;
}
.bg-green-300{
    background-color: #77c075;
}
.bg-green-400{
    background-color: #55b052;
}
.bg-green-500{
    background-color: #2b9c27;
}
.bg-green-600{
    background-color: #28832c;
}
.bg-green-700{
    background-color: #246432;
}
.bg-green-800{
    background-color: #14552c;
}
.bg-green-900{
    background-color: #004225;
}