.bg-neutral-50{
    background-color: #ffffff;
}
.bg-neutral-100{
    background-color: #d5d5d5;
}
.bg-neutral-200{
    background-color: #cacaca;
}
.bg-neutral-300{
    background-color: #bdbdbd;
}
.bg-neutral-400{
    background-color: #acacac;
}
.bg-neutral-500{
    background-color: #979797;
}
.bg-neutral-600{
    background-color: #7d7d7d;
}
.bg-neutral-700{
    background-color: #5c5c5c;
}
.bg-neutral-800{
    background-color: #333333;
}
.bg-neutral-900{
    background-color: #1E1E1E;
    
}