.bg-orange-50{
    background-color: #fff7ed;
}
.bg-orange-100{
    background-color: #ffedd5;
}
.bg-orange-200{
    background-color: #fed7aa;
}
.bg-orange-300{
    background-color: #fcba74;
}
.bg-orange-400{
    background-color: #fb923c;
}
.bg-orange-500{
    background-color: #f97316;
}
.bg-orange-600{
    background-color: #ea580c;
}
.bg-orange-700{
    background-color: #c2410c;
}
.bg-orange-800{
    background-color: #9a3412;
}
.bg-orange-900{
    background-color: #7c2d12;
}