.bg-pink-50{
    background-color: #ffeaed;
}
.bg-pink-100{
    background-color: #FECACA;
}
.bg-pink-200{
    background-color: #e68787;
}
.bg-pink-300{
    background-color: #e06969;
}
.bg-pink-400{
    background-color: #d84444;
}
.bg-pink-500{
    background-color: #ce1515;
}
.bg-pink-600{
    background-color: #aa1818;
}
.bg-pink-700{
    background-color: #981212;
}
.bg-pink-800{
    background-color: #820a0a;
}
.bg-pink-900{
    background-color: #660000;
}