.bg-red-50{
    background-color: #efb2b2;
}
.bg-red-100{
    background-color: #eb9f9f;
}
.bg-red-200{
    background-color: #e68787;
}
.bg-red-300{
    background-color: #e06969;
}
.bg-red-400{
    background-color: #d84444;
}
.bg-red-500{
    background-color: #ce1515;
}
.bg-red-600{
    background-color: #aa1818;
}
.bg-red-700{
    background-color: #981212;
}
.bg-red-800{
    background-color: #820a0a;
}
.bg-red-900{
    background-color: #660000;

}