.bg-slate-50{
    background-color: #fafafa;
}
.bg-slate-100{
    background-color: #efefef;
}
.bg-slate-200{
    background-color: #e0e0e0;
}
.bg-slate-300{
    background-color: #cacaca;
}
.bg-slate-400{
    background-color: #a0a0a0;
}
.bg-slate-500{
    background-color: #626262;
}
.bg-slate-600{
    background-color: #505050;
}
.bg-slate-700{
    background-color: #454655;
}
.bg-slate-800{
    background-color: #2d313f;
}
.bg-slate-900{
    background-color: #000000;
}