.bg-teal-50{
    background-color: #C3F1E7;
}
.bg-teal-100{
    background-color: #b4ede1;
}
.bg-teal-200{
    background-color: #a1e9d9;
}
.bg-teal-300{
    background-color: #8ae4cf;
}
.bg-teal-400{
    background-color: #68d3ba;
}
.bg-teal-500{
    background-color: #3eb599;
}
.bg-teal-600{
    background-color: #289c81;
}
.bg-teal-700{
    background-color: #1a745f;
}
.bg-teal-800{
    background-color: #0d5b49;
}
.bg-teal-900{
    background-color: #023629;
}