.bg-yellow-50{
    background-color: #fefce8;
}
.bg-yellow-100{
    background-color: #fef9c3;
}
.bg-yellow-200{
    background-color: #fef08a;
}
.bg-yellow-300{
    background-color: #fbd644;
}
.bg-yellow-400{
    background-color: #facc15;
}
.bg-yellow-500{
    background-color: #eab308;
}
.bg-yellow-600{
    background-color: #ca8a04;
}
.bg-yellow-700{
    background-color: #a16207;
}
.bg-yellow-800{
    background-color: #854d0e;
}
.bg-yellow-900{
    background-color: #713f12;
}