@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
*{
    font-size: 20px;
    font-family: "Open Sans";
}
.big-headline{
    font-size: 50px;
}
.med-headline{
    font-size: 40px;
}
.small-headline{
    font-size: 30px;
}