.pb-0{
    padding-bottom: 0px;
}
.pb-1{
    padding-bottom: 4px;
}
.pb-2{
    padding-bottom: 8px;
}
.pb-3{
    padding-bottom: 12px;
}
.pb-4{
    padding-bottom: 16px;
}
.pb-5{
    padding-bottom: 20px;
}
.pb-6{
    padding-bottom: 24px;
}
.pb-7{
    padding-bottom: 28px;
}
.pb-8{
    padding-bottom: 32px;
}
.pb-9{
    padding-bottom: 36px;
}
.pb-10{
    padding-bottom: 40px;
}
.pb-11{
    padding-bottom: 44px;
}
.pb-12{
    padding-bottom: 48px;
}
.pb-14{
    padding-bottom: 56px;
}
.pb-16{
    padding-bottom: 64px;
}
.pb-20{
    padding-bottom: 80px;
}
.pb-24{
    padding-bottom: 96px;
}
.pb-28{
    padding-bottom: 112px;
}
.pb-32{
    padding-bottom: 128px;
}
.pb-36{
    padding-bottom: 144px;
}
.pb-40{
    padding-bottom: 160px;
}
.pb-44{
    padding-bottom: 176px;
}
.pb-48{
    padding-bottom: 192px;
}
.pb-52{
    padding-bottom: 208px;
}
.pb-56{
    padding-bottom: 224px;
}
.pb-60{
    padding-bottom: 240px;
}
.pb-60{
    padding-bottom: 240px;
}
.pb-64{
    padding-bottom: 256px;
}
.pb-72{
    padding-bottom: 288px;
}
.pb-80{
    padding-bottom: 320px;
}
.pb-96{
    padding-bottom: 384px;
}
