.pl-0{
    padding-left: 0px;
}
.pl-1{
    padding-left: 4px;
}
.pl-2{
    padding-left: 8px;
}
.pl-3{
    padding-left: 12px;
}
.pl-4{
    padding-left: 16px;
}
.pl-5{
    padding-left: 20px;
}
.pl-6{
    padding-left: 24px;
}
.pl-7{
    padding-left: 28px;
}
.pl-8{
    padding-left: 32px;
}
.pl-9{
    padding-left: 36px;
}
.pl-10{
    padding-left: 40px;
}
.pl-11{
    padding-left: 44px;
}
.pl-12{
    padding-left: 48px;
}
.pl-14{
    padding-left: 56px;
}
.pl-16{
    padding-left: 64px;
}
.pl-20{
    padding-left: 80px;
}
.pl-24{
    padding-left: 96px;
}
.pl-28{
    padding-left: 112px;
}
.pl-32{
    padding-left: 128px;
}
.pl-36{
    padding-left: 144px;
}
.pl-40{
    padding-left: 160px;
}
.pl-44{
    padding-left: 176px;
}
.pl-48{
    padding-left: 192px;
}
.pl-52{
    padding-left: 208px;
}
.pl-56{
    padding-left: 224px;
}
.pl-60{
    padding-left: 240px;
}
.pl-60{
    padding-left: 240px;
}
.pl-64{
    padding-left: 256px;
}
.pl-72{
    padding-left: 288px;
}
.pl-80{
    padding-left: 320px;
}
.pl-96{
    padding-left: 384px;
}
