.pr-0{
    padding-right: 0px;
}
.pr-1{
    padding-right: 4px;
}
.pr-2{
    padding-right: 8px;
}
.pr-3{
    padding-right: 12px;
}
.pr-4{
    padding-right: 16px;
}
.pr-5{
    padding-right: 20px;
}
.pr-6{
    padding-right: 24px;
}
.pr-7{
    padding-right: 28px;
}
.pr-8{
    padding-right: 32px;
}
.pr-9{
    padding-right: 36px;
}
.pr-10{
    padding-right: 40px;
}
.pr-11{
    padding-right: 44px;
}
.pr-12{
    padding-right: 48px;
}
.pr-14{
    padding-right: 56px;
}
.pr-16{
    padding-right: 64px;
}
.pr-20{
    padding-right: 80px;
}
.pr-24{
    padding-right: 96px;
}
.pr-28{
    padding-right: 112px;
}
.pr-32{
    padding-right: 128px;
}
.pr-36{
    padding-right: 144px;
}
.pr-40{
    padding-right: 160px;
}
.pr-44{
    padding-right: 176px;
}
.pr-48{
    padding-right: 192px;
}
.pr-52{
    padding-right: 208px;
}
.pr-56{
    padding-right: 224px;
}
.pr-60{
    padding-right: 240px;
}
.pr-60{
    padding-right: 240px;
}
.pr-64{
    padding-right: 256px;
}
.pr-72{
    padding-right: 288px;
}
.pr-80{
    padding-right: 320px;
}
.pr-96{
    padding-right: 384px;
}
