.text-green-50{
    text: #E3F8E8;
}
.text-green-100{
    text: #DCFCE7;
}
.text-green-200{
    text: #92cd91;
}
.text-green-300{
    text: #77c075;
}
.text-green-400{
    text: #55b052;
}
.text-green-500{
    text: #2b9c27;
}
.text-green-600{
    text: #28832c;
}
.text-green-700{
    text: #246432;
}
.text-green-800{
    text: #14552c;
}
.text-green-900{
    text: #004225;
}