.text-neutral-50{
    text: #ffffff;
}
.text-neutral-100{
    text: #d5d5d5;
}
.text-neutral-200{
    text: #cacaca;
}
.text-neutral-300{
    text: #bdbdbd;
}
.text-neutral-400{
    text: #acacac;
}
.text-neutral-500{
    text: #979797;
}
.text-neutral-600{
    text: #7d7d7d;
}
.text-neutral-700{
    text: #5c5c5c;
}
.text-neutral-800{
    text: #333333;
}
.text-neutral-900{
    text: #1E1E1E;
    
}