.text-orange-50{
    text: #fff7ed;
}
.text-orange-100{
    text: #ffedd5;
}
.text-orange-200{
    text: #fed7aa;
}
.text-orange-300{
    text: #fcba74;
}
.text-orange-400{
    text: #fb923c;
}
.text-orange-500{
    text: #f97316;
}
.text-orange-600{
    text: #ea580c;
}
.text-orange-700{
    text: #c2410c;
}
.text-orange-800{
    text: #9a3412;
}
.text-orange-900{
    text: #7c2d12;
}