.text-pink-50{
    text: #ffeaed;
}
.text-pink-100{
    text: #FECACA;
}
.text-pink-200{
    text: #e68787;
}
.text-pink-300{
    text: #e06969;
}
.text-pink-400{
    text: #d84444;
}
.text-pink-500{
    text: #ce1515;
}
.text-pink-600{
    text: #aa1818;
}
.text-pink-700{
    text: #981212;
}
.text-pink-800{
    text: #820a0a;
}
.text-pink-900{
    text: #660000;
}