.text-red-50{
    text: #efb2b2;
}
.text-red-100{
    text: #eb9f9f;
}
.text-red-200{
    text: #e68787;
}
.text-red-300{
    text: #e06969;
}
.text-red-400{
    text: #d84444;
}
.text-red-500{
    text: #ce1515;
}
.text-red-600{
    text: #aa1818;
}
.text-red-700{
    text: #981212;
}
.text-red-800{
    text: #820a0a;
}
.text-red-900{
    text: #660000;
}