.text-slate-50{
    text: #fafafa;
}
.text-slate-100{
    text: #efefef;
}
.text-slate-200{
    text: #e0e0e0;
}
.text-slate-300{
    text: #cacaca;
}
.text-slate-400{
    text: #a0a0a0;
}
.text-slate-500{
    text: #626262;
}
.text-slate-600{
    text: #505050;
}
.text-slate-700{
    text: #454655;
}
.text-slate-800{
    text: #2d313f;
}
.text-slate-900{
    text: #000000;
}