.text-teal-50{
    text: #C3F1E7;
}
.text-teal-100{
    text: #b4ede1;
}
.text-teal-200{
    text: #a1e9d9;
}
.text-teal-300{
    text: #8ae4cf;
}
.text-teal-400{
    text: #68d3ba;
}
.text-teal-500{
    text: #3eb599;
}
.text-teal-600{
    text: #289c81;
}
.text-teal-700{
    text: #1a745f;
}
.text-teal-800{
    text: #0d5b49;
}
.text-teal-900{
    text: #023629;
}