.text-yellow-50{
    text: #fefce8;
}
.text-yellow-100{
    text: #fef9c3;
}
.text-yellow-200{
    text: #fef08a;
}
.text-yellow-300{
    text: #fbd644;
}
.text-yellow-400{
    text: #facc15;
}
.text-yellow-500{
    text: #eab308;
}
.text-yellow-600{
    text: #ca8a04;
}
.text-yellow-700{
    text: #a16207;
}
.text-yellow-800{
    text: #854d0e;
}
.text-yellow-900{
    text: #713f12;
}