.stroke-blue-50{
    stroke: #eff6fe;
}
.stroke-blue-100{
    stroke: #dbeafe;
}
.stroke-blue-200{
    stroke: #bfdbfe;
}
.stroke-blue-300{
    stroke: #93c5fd;
}
.stroke-blue-400{
    stroke: #60a5fa;
}
.stroke-blue-500{
    stroke: #60a5fa;
}
.stroke-blue-600{
    stroke: #2563eb;
}
.stroke-blue-700{
    stroke: #1d4ed8;
}
.stroke-blue-800{
    stroke: #1e40af;
}
.stroke-blue-900{
    stroke: #1e3a8a;
}