.stroke-green-50{
    stroke: #E3F8E8;
}
.stroke-green-100{
    stroke: #DCFCE7;
}
.stroke-green-200{
    stroke: #92cd91;
}
.stroke-green-300{
    stroke: #77c075;
}
.stroke-green-400{
    stroke: #55b052;
}
.stroke-green-500{
    stroke: #2b9c27;
}
.stroke-green-600{
    stroke: #28832c;
}
.stroke-green-700{
    stroke: #246432;
}
.stroke-green-800{
    stroke: #14552c;
}
.stroke-green-900{
    stroke: #004225;
}