.stroke-neutral-50{
    stroke: #ffffff;
}
.stroke-neutral-100{
    stroke: #d5d5d5;
}
.stroke-neutral-200{
    stroke: #cacaca;
}
.stroke-neutral-300{
    stroke: #bdbdbd;
}
.stroke-neutral-400{
    stroke: #acacac;
}
.stroke-neutral-500{
    stroke: #979797;
}
.stroke-neutral-600{
    stroke: #7d7d7d;
}
.stroke-neutral-700{
    stroke: #5c5c5c;
}
.stroke-neutral-800{
    stroke: #333333;
}
.stroke-neutral-900{
    stroke: #1E1E1E;
    
}