.stroke-orange-50{
    stroke: #fff7ed;
}
.stroke-orange-100{
    stroke: #ffedd5;
}
.stroke-orange-200{
    stroke: #fed7aa;
}
.stroke-orange-300{
    stroke: #fcba74;
}
.stroke-orange-400{
    stroke: #fb923c;
}
.stroke-orange-500{
    stroke: #f97316;
}
.stroke-orange-600{
    stroke: #ea580c;
}
.stroke-orange-700{
    stroke: #c2410c;
}
.stroke-orange-800{
    stroke: #9a3412;
}
.stroke-orange-900{
    stroke: #7c2d12;
}