.stroke-pink-50{
    stroke: #ffeaed;
}
.stroke-pink-100{
    stroke: #FECACA;
}
.stroke-pink-200{
    stroke: #e68787;
}
.stroke-pink-300{
    stroke: #e06969;
}
.stroke-pink-400{
    stroke: #d84444;
}
.stroke-pink-500{
    stroke: #ce1515;
}
.stroke-pink-600{
    stroke: #aa1818;
}
.stroke-pink-700{
    stroke: #981212;
}
.stroke-pink-800{
    stroke: #820a0a;
}
.stroke-pink-900{
    stroke: #660000;
}