.stroke-red-50{
    stroke: #efb2b2;
}
.stroke-red-100{
    stroke: #eb9f9f;
}
.stroke-red-200{
    stroke: #e68787;
}
.stroke-red-300{
    stroke: #e06969;
}
.stroke-red-400{
    stroke: #d84444;
}
.stroke-red-500{
    stroke: #ce1515;
}
.stroke-red-600{
    stroke: #aa1818;
}
.stroke-red-700{
    stroke: #981212;
}
.stroke-red-800{
    stroke: #820a0a;
}
.stroke-red-900{
    stroke: #660000;
}