.stroke-slate-50{
    stroke: #fafafa;
}
.stroke-slate-100{
    stroke: #efefef;
}
.stroke-slate-200{
    stroke: #e0e0e0;
}
.stroke-slate-300{
    stroke: #cacaca;
}
.stroke-slate-400{
    stroke: #a0a0a0;
}
.stroke-slate-500{
    stroke: #626262;
}
.stroke-slate-600{
    stroke: #505050;
}
.stroke-slate-700{
    stroke: #454655;
}
.stroke-slate-800{
    stroke: #2d313f;
}
.stroke-slate-900{
    stroke: #000000;
}