.stroke-teal-50{
    stroke: #C3F1E7;
}
.stroke-teal-100{
    stroke: #b4ede1;
}
.stroke-teal-200{
    stroke: #a1e9d9;
}
.stroke-teal-300{
    stroke: #8ae4cf;
}
.stroke-teal-400{
    stroke: #68d3ba;
}
.stroke-teal-500{
    stroke: #3eb599;
}
.stroke-teal-600{
    stroke: #289c81;
}
.stroke-teal-700{
    stroke: #1a745f;
}
.stroke-teal-800{
    stroke: #0d5b49;
}
.stroke-teal-900{
    stroke: #023629;
}