.stroke-yellow-50{
    stroke: #fefce8;
}
.stroke-yellow-100{
    stroke: #fef9c3;
}
.stroke-yellow-200{
    stroke: #fef08a;
}
.stroke-yellow-300{
    stroke: #fbd644;
}
.stroke-yellow-400{
    stroke: #facc15;
}
.stroke-yellow-500{
    stroke: #eab308;
}
.stroke-yellow-600{
    stroke: #ca8a04;
}
.stroke-yellow-700{
    stroke: #a16207;
}
.stroke-yellow-800{
    stroke: #854d0e;
}
.stroke-yellow-900{
    stroke: #713f12;
}