.ml-0{
    margin-left: 0px;
}
.ml-1{
    margin-left: 4px;
}
.ml-2{
    margin-left: 8px;
}
.ml-3{
    margin-left: 12px;
}
.ml-4{
    margin-left: 16px;
}
.ml-5{
    margin-left: 20px;
}
.ml-6{
    margin-left: 24px;
}
.ml-7{
    margin-left: 28px;
}
.ml-8{
    margin-left: 32px;
}
.ml-9{
    margin-left: 36px;
}
.ml-10{
    margin-left: 40px;
}
.ml-11{
    margin-left: 44px;
}
.ml-12{
    margin-left: 48px;
}
.ml-14{
    margin-left: 56px;
}
.ml-16{
    margin-left: 64px;
}
.ml-20{
    margin-left: 80px;
}
.ml-24{
    margin-left: 96px;
}
.ml-28{
    margin-left: 112px;
}
.ml-32{
    margin-left: 128px;
}
.ml-36{
    margin-left: 144px;
}
.ml-40{
    margin-left: 160px;
}
.ml-44{
    margin-left: 176px;
}
.ml-48{
    margin-left: 192px;
}
.ml-52{
    margin-left: 208px;
}
.ml-56{
    margin-left: 224px;
}
.ml-60{
    margin-left: 240px;
}
.ml-60{
    margin-left: 240px;
}
.ml-64{
    margin-left: 256px;
}
.ml-72{
    margin-left: 288px;
}
.ml-80{
    margin-left: 320px;
}
.ml-96{
    margin-left: 384px;
}
