.m-0{
    margin: 0px;
}
.m-1{
    margin: 4px;
}
.m-2{
    margin: 8px;
}
.m-3{
    margin: 12px;
}
.m-4{
    margin: 16px;
}
.m-5{
    margin: 20px;
}
.m-6{
    margin: 24px;
}
.m-7{
    margin: 28px;
}
.m-8{
    margin: 32px;
}
.m-9{
    margin: 36px;
}
.m-10{
    margin: 40px;
}
.m-11{
    margin: 44px;
}
.m-12{
    margin: 48px;
}
.m-14{
    margin: 56px;
}
.m-16{
    margin: 64px;
}
.m-20{
    margin: 80px;
}
.m-24{
    margin: 96px;
}
.m-28{
    margin: 112px;
}
.m-32{
    margin: 128px;
}
.m-36{
    margin: 144px;
}
.m-40{
    margin: 160px;
}
.m-44{
    margin: 176px;
}
.m-48{
    margin: 192px;
}
.m-52{
    margin: 208px;
}
.m-56{
    margin: 224px;
}
.m-60{
    margin: 240px;
}
.m-60{
    margin: 240px;
}
.m-64{
    margin: 256px;
}
.m-72{
    margin: 288px;
}
.m-80{
    margin: 320px;
}
.m-96{
    margin: 384px;
}
