.mr-0{
    margin-right: 0px;
}
.mr-1{
    margin-right: 4px;
}
.mr-2{
    margin-right: 8px;
}
.mr-3{
    margin-right: 12px;
}
.mr-4{
    margin-right: 16px;
}
.mr-5{
    margin-right: 20px;
}
.mr-6{
    margin-right: 24px;
}
.mr-7{
    margin-right: 28px;
}
.mr-8{
    margin-right: 32px;
}
.mr-9{
    margin-right: 36px;
}
.mr-10{
    margin-right: 40px;
}
.mr-11{
    margin-right: 44px;
}
.mr-12{
    margin-right: 48px;
}
.mr-14{
    margin-right: 56px;
}
.mr-16{
    margin-right: 64px;
}
.mr-20{
    margin-right: 80px;
}
.mr-24{
    margin-right: 96px;
}
.mr-28{
    margin-right: 112px;
}
.mr-32{
    margin-right: 128px;
}
.mr-36{
    margin-right: 144px;
}
.mr-40{
    margin-right: 160px;
}
.mr-44{
    margin-right: 176px;
}
.mr-48{
    margin-right: 192px;
}
.mr-52{
    margin-right: 208px;
}
.mr-56{
    margin-right: 224px;
}
.mr-60{
    margin-right: 240px;
}
.mr-60{
    margin-right: 240px;
}
.mr-64{
    margin-right: 256px;
}
.mr-72{
    margin-right: 288px;
}
.mr-80{
    margin-right: 320px;
}
.mr-96{
    margin-right: 384px;
}
