.h-0{
    height: 0px;
}
.h-1{
    height: 4px;
}
.h-2{
    height: 8px;
}
.h-3{
    height: 12px;
}
.h-4{
    height: 16px;
}
.h-5{
    height: 20px;
}
.h-6{
    height: 24px;
}
.h-7{
    height: 28px;
}
.h-8{
    height: 32px;
}
.h-9{
    height: 36px;
}
.h-10{
    height: 40px;
}
.h-11{
    height: 44px;
}
.h-12{
    height: 48px;
}
.h-14{
    height: 56px;
}
.h-16{
    height: 64px;
}
.h-20{
    height: 80px;
}
.h-24{
    height: 96px;
}
.h-28{
    height: 112px;
}
.h-32{
    height: 128px;
}
.h-36{
    height: 144px;
}
.h-40{
    height: 160px;
}
.h-44{
    height: 176px;
}
.h-48{
    height: 192px;
}
.h-52{
    height: 208px;
}
.h-56{
    height: 224px;
}
.h-60{
    height: 240px;
}
.h-60{
    height: 240px;
}
.h-64{
    height: 256px;
}
.h-72{
    height: 288px;
}
.h-80{
    height: 320px;
}
.h-96{
    height: 384px;
}
.h-fit{
    height: fit-content;
}
.h-auto{
    height: auto;
}
.h-screen{
    height: 100vh;
}
.h-full{
    height: 100%;
}
