.min-w-0{
    min-width: 0px;
}
.min-w-1{
    min-width: 4px;
}
.min-w-2{
    min-width: 8px;
}
.min-w-3{
    min-width: 12px;
}
.min-w-4{
    min-width: 16px;
}
.min-w-5{
    min-width: 20px;
}
.min-w-6{
    min-width: 24px;
}
.min-w-7{
    min-width: 28px;
}
.min-w-8{
    min-width: 32px;
}
.min-w-9{
    min-width: 36px;
}
.min-w-10{
    min-width: 40px;
}
.min-w-11{
    min-width: 44px;
}
.min-w-12{
    min-width: 48px;
}
.min-w-14{
    min-width: 56px;
}
.min-w-16{
    min-width: 64px;
}
.min-w-20{
    min-width: 80px;
}
.min-w-24{
    min-width: 96px;
}
.min-w-28{
    min-width: 112px;
}
.min-w-32{
    min-width: 128px;
}
.min-w-36{
    min-width: 144px;
}
.min-w-40{
    min-width: 160px;
}
.min-w-44{
    min-width: 176px;
}
.min-w-48{
    min-width: 192px;
}
.min-w-52{
    min-width: 208px;
}
.min-w-56{
    min-width: 224px;
}
.min-w-60{
    min-width: 240px;
}
.min-w-60{
    min-width: 240px;
}
.min-w-64{
    min-width: 256px;
}
.min-w-72{
    min-width: 288px;
}
.min-w-80{
    min-width: 320px;
}
.min-w-96{
    min-width: 384px;
}
.min-w-fit{
    min-width: fit-content;
}
.min-w-auto{
    min-width: auto;
}
.min-w-screen{
    min-width: 100vw;
}
.min-w-full{
    min-width: 100%;
}
